# Dependency directories
node_modules/
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log
.DS_Store
Thumbs.db

# Environment variables file
.env

# Configuration files
*.config.js
config.js

# Test coverage
coverage/

# Build output
build/
dist/

# Dependency lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Ignore .gitignore itself
!.gitignore
